* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main {
    width: 320px;
}

.days {
    display: flex;
}

.day,
.date {border: 1px solid #ddd;}

.day {
    width: calc(100% / 7);
}

.dates {
    display: flex;
    flex-wrap: wrap;
}

.date {
    width: calc(100% / 7);
}

.other {
    opacity: 0.1;
}

.today {
    background-color: lightblue;
}